.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: transparent;
    transition: padding 400ms, 400ms ease;

    &.scroll {
        background-color: $color-white;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 400ms, 400ms ease;
        padding: 24px 20px;

        @media (min-width: 992px) {
            justify-content: flex-start;
            padding: 48px 30px;
        }
    }

    &__logo-wrapper {
        &>* {
            font-size: 18px;
            color: $color-white; // change to white
            width: max-content;
            margin-bottom: 0;
            text-transform: uppercase;

            .scroll & {
                color: $color-white;
            }

            @media (min-width: 992px) {
                font-size: 28px;
            }
        }
    }

    &__toggle {
        z-index: 9999;
        right: 0;

        width: 50px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
            &:not(:last-child) {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $color-black;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;

                .scroll & {
                    background: $color-white;
                }
            }

            &:nth-child(1) {
                top: 0px;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 14px;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 28px;
                transform-origin: left center;
            }
        }

        &[aria-expanded="true"] span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 0px;
                left: 8px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 36px;
                left: 8px;
            }
        }
    }

    &__primary-nav {
        display: flex;

        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 36%;

        justify-content: center;
        flex-direction: column;
        padding: 5rem 1.5rem;

        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        background-color: $color-white;

        .scroll & {
            background-color: $color-black;
        }

        &[data-visible="true"] {
            transform: translateX(0%);
        }

        @media (min-width: 992px) {
            flex-direction: row;
            position: static;
            transform: translateX(0);
            padding: 0;
            width: 100%;
            background-color: transparent;

            .scroll & {
                background-color: transparent;
            }
        }
    }

    &__secondary-nav {
        display: flex;
        align-items: center;

        &>li {
            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        .icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
        }
    }

    &--mobile {
        display: block;

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__menu-wrapper {
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        li {
            display: flex;
            align-items: center;
            margin-right: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
            justify-content: center;

            @media (min-width: 992px) {
                justify-content: flex-start;
                margin-top: 0;
                margin-right: 32px;
                margin-bottom: 0;
            }
        }
    }

    &__nav {
        &-item {
            @include make-link($color-white); // change to white
            position: relative;
            z-index: 2;
            font-size: 16px;


            .scroll & {
                @include make-link($color-black);
            }
        }
    }

    &__search {
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 24px;
            height: 24px;

            .icon {
                position: absolute;
            }

            .icon-close {
                opacity: 0;
                visibility: hidden;

            }
        }
    }
}